- name: Install Qemu Guest Agent on Ubuntu
  apt:
    name: qemu-guest-agent
    state: present
    update_cache: yes
  when: ansible_distribution == "Ubuntu"

- name: Install Qemu Guest Agent on RL
  yum:
    name: "qemu-guest-agent"
    state: present
  when: ansible_distribution == "Rocky"

- name: Enable Qemu Guest Agent
  ansible.builtin.systemd_service:
    name: qemu-guest-agent.service
    enabled: true
  when: ansible_version.minor >= 11

- name: Enable Qemu Guest Agent for RL 8
  ansible.builtin.systemd:
    name: qemu-guest-agent.service
    enabled: true
  when: ansible_version.minor < 11
